@using Storm.Core.Models.ViewComponents;
@using Storm.Core.ViewComponents;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsArticle>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
    var hasPageHeading = (Model is IUmbBlockGridDemoHeadlineBlock);
    var pageColSize = Model.PageWidth;
    var publishedDate = Model.CreateDate.ToString("dddd, MMMM dd, yyyy h:mm tt");
    var hasImage = Model.Image != null;
}



<div class="@(pageColSize)u skel-cell-mainContent">
    <div class="content content-left">
        <!-- Content -->
        <article class="is-page-content">

            @if (hasPageHeading)
            {
                @await Component.InvokeAsync(nameof(Headline), new HeadlineModel() { Headline = Model.Headline, HeadlineStyle = Model.HeadlineStyle})
            }

            <ul class="meta">
                <li class="timestamp">@publishedDate</li>
            </ul>
            <section>
                @if (hasImage)
                {
                    <a href="#" class="image image-full"><img src="@Model.Image.Url()" alt="@Model.Image.Name" /></a>
                }

                @Html.Raw(Model.RichText)

                <a href="@Model.Parent.Url()" class="button">@Umbraco.GetDictionaryValue("BackButton")</a>
            </section>
        </article>
        <!-- /Content -->
    </div>
</div>