@using Storm.Core.Models.ViewComponents;
@using Storm.Core.Services;
@using Storm.Core.ViewComponents;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsListingPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inject IExamineSearchService examineSearchService;
@{
    Layout = "Layout.cshtml";
    IEnumerable<NewsArticle> results = null;

    var hasPageHeading = (Model is IUmbBlockGridDemoHeadlineBlock);
    var pageColSize = Model.PageWidth;
    var isSearch = Context.Request.QueryString.HasValue;
    var pageNumber = (!string.IsNullOrWhiteSpace(Context.Request.Query["page"])) ? Convert.ToInt32(Context.Request.Query["page"]) : 0;
    var searchQuery = Context.Request.Query["query"];
    int take = 10;
    
    pageNumber = (pageNumber > 0) ? pageNumber + take : pageNumber;

    if (isSearch && !string.IsNullOrWhiteSpace(searchQuery))
    {
        results = examineSearchService.Search<NewsArticle>(searchQuery, pageNumber, take);
    }
    else
    {
        results = Model.Children<NewsArticle>().Where(x => x.IsVisible()).Skip(pageNumber).Take(take);
    }
}



<div class="@(pageColSize)u skel-cell-mainContent">
    <div class="content">
        <!-- Content -->
        <article class="is-page-content">
            
            <section class="search">
                <form action="@Model.Url()" method="Get">
                    <fieldset>
                        <input type="text" class="search-box" placeholder="Search news items..." name="query" />
                        <input type="text" value="@pageNumber" hidden name="page" />
                        <button class="search-button">@Umbraco.GetDictionaryValue("SearchButton")</button>
                    </fieldset>
                </form>
            </section>

            @if (hasPageHeading)
            {
                @await Component.InvokeAsync(nameof(Headline), new HeadlineModel() { Headline = Model.Headline, HeadlineStyle = Model.HeadlineStyle})
            }

            @if (results.Any())
            {
                foreach (var newsItem in results)
                {
                    @await Component.InvokeAsync(nameof(NewsItemSummary), newsItem)
                }
            }
            else
            {
                <p>@Umbraco.GetDictionaryValue("NoResults")</p>
            }

        </article>
        <!-- /Content -->
    </div>
</div>